<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %> 
    <%- include('includes/aside-drawer') %> 
    <main>
      <h1>ERROR 404 <br>This Page Isn't Available</h1>
      <p>
        The link may be broken, or the page may have been removed.<br>
         Check to see if the link you're trying to open is correct.
      </p>
    </main>
  </body>
</html>